[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
  font-family: 'Montserrat', sans-serif;
  height: 36px;
  width: 170px;
  background-color: transparent;
  color: var(--color);
  align-self: start;
  text-transform: capitalize;
  border: 1px solid var(--color);
}
option {
  color: #000
}
