.buttonsContainer {
  flex-direction: row !important;
  column-gap: 24px;
}

.responseContainer {
  display: flex;
  align-items: center;
  column-gap: 85px;
  margin-bottom: 28px;
}

.imageContainer {
}

.image {
}

.textContainer{
  max-width: 510px;
  font-weight: 500;
  font-size: 16px;
}

.code {
  font-size: 30px;
  margin-bottom: 13px;
}

.text {
}
.info {
  font-size: 30px;
}