@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader svg {
  transform-origin: center;
  transition: .2s;
  transform: rotate(180deg);
  animation: loading linear infinite .6s;
}