.tech {
  font-family: "Roboto", sans-serif;;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.techWrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.loading {
  font-weight: 300;
  font-size: 14px;
  color: #4d4d4d;
  align-self: flex-start;

}