.select {
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  width: 165px;
  height: 24px;
  font-size: 14px;
  cursor: pointer;
  /*appearance: none;*/
}

.select:focus {
  outline: 1px solid #000;
}

.option:hover {

}
